<!-- Split button -->
<div class="btn-group btn-group-toggle" data-toggle="buttons" th:fragment="sortbuttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="Title" id="option1" autocomplete="off" aria-checked="true"> Title
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="Category" id="option3" autocomplete="off"> Category
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="Description" id="option2" autocomplete="off"> Date
  </label>
</div>