<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light header">
        <a class="navbar-brand">Event Viewer</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/searchevent">Search Event</a>
                </li>
            </ul>
        </div>
        <form class="form-inline" action="#" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  name="searchTerm" id="searchTerm" list="Plant_Search">
            <datalist id="Plant_Search">

            </datalist>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>