* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body{
    background-color: #ffffff;
    overflow: hidden;
}

h1 {
    padding: 2em;
}

.container {
    width: 100%;
    height: 100vh;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    background-color: #d8003a;
    padding: 2em;
}
