<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/main.css" type="text/css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Event Tracker</title>
</head>
<body>
</div>

<div>
    <p>Create an event</p>
    <p th:text="${event}" />

    <form action="#" th:action="@{/saveEvent}" th:object="${event}" method="GET">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="title" th:field="*{title}" aria-describedby="basic-addon3">

        <label class="form-label">Location</label>
        <input type="text" class="form-control" name="location" th:field="*{location}">

        <label class="form-label">Start Time</label>
        <input type="text" class="form-control" name="startTime" th:field="*{startTime}">

        <label class="form-label">End Time</label>
        <input type="text" class="form-control" name="endTime" th:field="*{endTime}">

        <label class="form-label">Description</label>
        <input type="text" class="form-control" name="description" th:field="*{description}">

        <label class="form-label">Host</label>
        <input type="text" class="form-control" name="host" th:field="*{host}">

        <button name="submit" type="submit" value="0">Submit</button>
    </form>
</div>


<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
