<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Random Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<h1 id="header">Random Event: Options are overwhelming</h1>
<div class = "event" th:each="event : ${events}">
    <h1 id="title" th:text="${event.title}"></h1>
    <p>Description:</p><h1 class="info" th:text="${event.description}"></h1>
    <p>Location:</p><h1 class="info" th:text="${event.location}"></h1>
    <p>Start Time:</p><h1 class="info" th:text="${event.startTime}"></h1>
    <p>End Time:</p><h1 class="info" th:text="${event.endTime}"></h1>
    <p>Host:</p><h1 class="info" th:text="${event.host}"></h1>
    <p>Id:</p><h1 class="info" th:text="${event.id}"></h1>
    <p>Category:</p><h1 class="info" th:text="${event.category}"></h1>
</div>
</body>
</html>