<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UC Event Tracker Home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link th:href="@{/css/start.css}" rel="stylesheet" />

</head>

<body>
<h1 id="header">Event Tracker</h1>
    <div class = "event" th:each="event : ${events}">
        <h1 id="title" th:text="${event.title}"></h1>
        <p>Description:</p><h1 class="info" th:text="${event.description}"></h1>
        <p>Location:</p><h1 class="info" th:text="${event.location}"></h1>
        <p>Start Time:</p><h1 class="info" th:text="${event.startTime}"></h1>
        <p>End Time:</p><h1 class="info" th:text="${event.endTime}"></h1>
        <p>Host:</p><h1 class="info" th:text="${event.host}"></h1>
    </div>
</body>
</html>